*{
    margin: 0px;
    padding: 0px;
}
nav ul li {
    transition: 0.1s ease;
}
nav ul li:hover {
    border-radius: 15px;
    border:2px solid #A3BCCF;

}

.header-text {
    padding: 20px;
    text-align: center;
}

.home {
    height: 100vh;
}
.carousel {
    width: 50%;
    border: 2px solid red;
}



.boarder-guides {
    border: 2px solid red;
}

.image-container img {
    height: 500px;
    width: 100%;
    border-radius: 15px;
}



.image-container-our-cakes {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
}

.image-container-our-cakes img {
    height: 60vh;
    width: 90%;
    border-radius: 15px;
}



.order-section {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input, select {
    padding: 8px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background: #ff4d6d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .limited-slots {
    font-weight: bold;
    color: red;
    margin-top: 15px;
  }
  